#file_drop {
  width: 150px;
  height: 150px;
  background-color: #eee;
  border: 5px dashed #ddd;
  p {
    text-align: center;
    text-shadow: 0 1px 1px #fff;
  }
}

#carbonads-container {
  display: none;
}